<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>BUY OR BUCK</title>
    
<!-- Header -->
{{> nav/head}}

</head>
  <body>
    
    <!-- Nav Bar -->
    {{> nav/navbar}}

    <!-- Body -->
    {{{body}}}
    
    <!-- Foundation Scripts -->
    {{> javascript/foundationjs}}

  </body>
</html> 