<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>BUY OR BUCK</title>

    <!-- Style Sheets -->

    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/app.css">

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Pacifico" rel="stylesheet">

    <!--font awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

</head>
  <body>

    <!--This handlebars section is pulled from "../views/index.handlebars" -->
    {{{body}}}
    
    <!-- Foundation Scripts -->
    <script src="/javascript/vendor/jquery.js"></script>
    <script src="/javascript/vendor/what-input.js"></script>
    <script src="/javascript/vendor/foundation.js"></script>
    <script src="/javascript/app.js"></script>
    
    <!-- Our Scripts -->
    <script type="text/javascript" src="/javascript/mainhandlebars.js"> </script>

  </body>
</html>