<div class="hero-section">
    <div class="hero-section-text">
        <h1 id="designersHead">Designers</h1>
    </div>
</div>
{{!--Designers' mini profiles--}}
<div class="row small-up-1 medium-up-2 large-up-4">
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Joseph Jagger</h4>
                <p class="specialty">Summer Wear</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Detroit</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="hollow button">PROFILE</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTTy.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Ty Simmons</h4>
                <p class="specialty">Haute Couture</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Seattle</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="button">PROFILE</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTNoley.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Nole Tubari</h4>
                <p class="specialty">Mass Market</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Miami</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="hollow button">PROFILE</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTAmi.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Ami Santenelli</h4>
                <p class="specialty">Accessories </p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Chicago</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="button">PROFILE</a>
            </div>
        </div>
    </div>
</div>
{{!--2nd row--}}
<div class="row small-up-1 medium-up-2 large-up-4">
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTLaura.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Laura Usery</h4>
                <p class="specialty">Athletic Wear</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">San Diego</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="hollow button">PROFILE</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTEllie.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Ellie Powers</h4>
                <p class="specialty">Women’s Casual</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">New York City</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="button">PROFILE</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTMike.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Mike Ziglar</h4>
                <p class="specialty">Men’s Formal</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Philadelphia</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="hollow button">PROFILE</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-user-container">
            <div class="card-user-avatar">
                <img src="styles/images/HDSTRavi.jpg" alt="" class="user-image">
            </div>
            <div class="card-user-bio">
                <h4>Ravi Reddy</h4>
                <p class="specialty">Party Wear</p>
                <span class="location"><span class="location-icon fa fa-map-marker"></span><span class="location-text">Dallas</span></span>
            </div>
            <div class="card-user-button">
                <a href="#" class="button">PROFILE</a>
            </div>
        </div>
    </div>
</div>