<!-- Main Page Information -->

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
    <div class="row align-center">

        <!--Product Image Gallery for an eCommerce site to show multiple images of a product.-->
        <div class="product-image-gallery">
            <div class="pdp-product-image" id="main-product-image"></div>

            {{!--Update buttons try 05/17--}}
            <label id="clothesLabel">$2b Pulled From Image Obj</label>
            <div class="mobile-app-toggle" data-mobile-app-toggle>
                <button id="buyButton" class="button is-active"><i class="fa fa-star" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Buy</button>
                <a href="/" <button id="buckButton" class="button">Buck &nbsp;&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i></a>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Our Scripts -->
{{> javascript/indexJavascript}}

