<!-- Main Page Information -->

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
    <div class="row align-center">
        <!--Product Image Gallery for an eCommerce site to show multiple images of a product.-->
        <div class="product-image-gallery">
            <div class="pdp-product-image" id="main-product-image"></div>
{{!--Update buttons try 05/17--}}
                {{!--<label>WILL BE PULLED FROM IMAGE OBJECT</label>--}}

                  {{!--<div class="mobile-app-toggle" data-mobile-app-toggle>
                <button class="button is-active">Buy</button>
                <button class="button">Buck</button>
                            </div>--}}
            
            <!--CHOICE buy or buck BUTTONS-->
            {{!--reformatting buttons, label--}}
            <br>
            <div class="button-hover-reveal-wrapper">
                <label><i  class="fa fa-angle-double-down" aria-hidden="true"></i> WILL BE PULLED FROM IMAGE OBJECT</label>
                <a href="/" class="button-hover-reveal">BUY</a>
                <a href="/" class="button-hover-reveal">BUCK</a>

            </div>

            <br>
            <br>
            <ul class="menu product-thumbs align-center">
                <li>
                    <a class="sim-thumb" data-image="http://placehold.it/350x350?text=Image+1"><img src="images/shirtPink.jpg" alt=""></a>
                </li>
                <li>
                    <a class="sim-thumb" data-image="http://placehold.it/350x350?text=Image+2"><img src="http://placehold.it/50x50" alt=""></a>
                </li>
                <li>
                    <a class="sim-thumb" data-image="http://placehold.it/350x350?text=Image+3"><img src="http://placehold.it/50x50" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Our Scripts -->
{{> javascript/indexJavascript}}

