<!-- Profile Page -->

<div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
    <div class="row align-center">
        {{!--
        <h1 class="text-center"><span id="buyFont">Buy</span>or<span id="buckFont">Buck?</span></h1>--}}
        <!--Designer login w/ profile-->
        <div class="card-profile-stats">
            <div class="card-profile-stats-intro">
                <img class="card-profile-stats-intro-pic" src="https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg" alt="profile-image" />
                <div class="card-profile-stats-intro-content">
                    <h3>Joseph Jagger</h3>
                    <p>Joined May 19, 2017</small>
                    </p>
                </div>
                <!-- /.card-profile-stats-intro-content -->
            </div>
            <!-- /.card-profile-stats-intro -->
            <hr />
            <div class="card-profile-stats-container">
                <div class="card-profile-stats-statistic">
                    <span class="stat">5</span>
                    <p>Designs</p>
                </div>
                <!-- /.card-profile-stats-statistic -->
                <div class="card-profile-stats-statistic">
                    <span class="stat">summerware</span>
                    <p>Speciality</p>
                </div>
                <!-- /.card-profile-stats-statistic -->
                <div class="card-profile-stats-statistic">
                    <span class="stat">joeKnowsClothes@gmail.com</span>
                    <p>Contact</p>
                </div>
                <!-- /.card-profile-stats-statistic -->
            </div>
            <!-- /.card-profile-stats-container -->
            <div class="card-profile-stats-more">
                <p class="card-profile-stats-more-link"><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></p>
                <div class="card-profile-stats-more-content">
                    <p>
                        Mr. Jagger entered the design world by first making dresses for his wife.</p><p>Compliments followed, as did his blossoming career. </p><p>He specializes in summerware and florals.
                    </p>
                </div>
                <!-- /.card-profile-stats-more-content -->
            </div>
            <!-- /.card-profile-stats-more -->
        </div>
        <!-- /.card-profile-stats -->
    </div>
