
{{!--double--}}
<div class="login-box">
  <div class="row collapse expanded">

   <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
      <div class="signup-box-social-section-inner">
        <br> <br><br> <br><br> <br>
       <br><br> 
        <a class="login-box-social-button-twitter">My Profile</a>
        <a class="login-box-social-button-google">Genre</a>
      </div>
      {{!--circle maybe to use elsewhere--}}
         <div class="or"><i class="fa fa-star" aria-hidden="true"></i></div>
    </div>
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
     
     
      <div class="login-box-form-section">
        <h1 class="login-box-title">Sign up</h1>
        <input class="login-box-input" type="text" name="username" placeholder="Username" />
        <input class="login-box-input" type="email" name="email" placeholder="E-mail" />
        <input class="login-box-input" type="password" name="password" placeholder="Password" />
        <input class="login-box-input" type="password" name="password2" placeholder="Retype password" />
        <input class="login-box-submit-button" type="submit" name="signup_submit" value="Sign Up" />
      </div>
   
    </div>

  </div>
</div>
